# Python / Django
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
*.log

# Angular / Frontend
node_modules/
dist/
.angular/
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db