annotated-doc
annotated-types
anyio
asgiref
attrs
av
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cryptography
ctranslate2
distro
Django>=5.0,<6.0
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
EbookLib
faster-whisper
filelock
flatbuffers
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface_hub
idna
imageio-ffmpeg
inflection
jsonschema
jsonschema-specifications
lxml
markdown-it-py
marshmallow
mdurl
numpy
packaging
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
python-dotenv
PyYAML
referencing
requests
rich
rpds-py
setuptools
shellingham
six
sniffio
soupsieve
sqlparse
tenacity
tokenizers
tqdm
transbank-sdk
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
websockets
gunicorn
