<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a routerLink="/" class="logo" style="text-decoration: none;" title="LiteratusNovelist">
        <img src="assets/logo.png" alt="LiteratusNovelist" class="footer-logo-img" />
      </a>
      <p class="brand-tagline">
        No solo leas la historia. <span class="glow-span">Vívela.</span>
      </p>
    </div>

    <div class="footer-links-grid">
      <div class="footer-col">
        <h4>Explorar</h4>
        <ul>
          <li><a routerLink="/catalog">Catálogo de Libros</a></li>
          <li><a routerLink="/authors">Nuestros Autores</a></li>
          <li><a routerLink="/characters">Personajes IA</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Mi Cuenta</h4>
        <ul>
          <li><a routerLink="/library">Mi Biblioteca</a></li>
          <li><a routerLink="/profile">Recargar Tinta</a></li>
          <li><a routerLink="/login">Iniciar Sesión</a></li>
        </ul>
      </div>


    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Literatus Novelist. Todos los derechos reservados.</p>
    <div class="legal-links">
      <span>Términos y Condiciones</span>
      <span>Política de Privacidad</span>
      <span>Uso de Cookies</span>
    </div>
  </div>
  
  <div class="footer-bg-glow"></div>
</footer>
